body {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

form div {
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    text-align: center;
}

.small {
    font-size: 0.8em;
}

h1 {
    font-size: 1.6em;
}